{% extends 'base.html.twig' %}

{% block title %}New Diabetes{% endblock %}

{% block body %}
    <h1>Create new Diabetes</h1>

    {{ include('diabetes/_form.html.twig') }}

    <a href="{{ path('app_diabetes_index') }}">back to list</a>
{% endblock %}
